div.cOuter#outerAdmin

	form(onsubmit="return false;")
		div
			table
				colgroup
					col(width="90")
					col
				tr
					td Admin
					td
						select#config_admin(onchange="onSelectConfig(this);")
							option Facebook
							option Google
							option Kakao
							option Twitter
						input(type="button" value="리셋"
							onclick="onSelectConfig(this.form.config_admin);")
				tr
					td clientID
					td
						input.adminWhite#clientID(type="text" autocomplete="off"
							onchange="checkAdminForm(this);")
				tr
					td clientSecret
					td
						input.adminWhite#clientSecret(type="text" autocomplete="off"
							onchange="checkAdminForm(this);")
				tr
					td callbackURL
					td
						input.adminWhite#callbackURL(type="text" autocomplete="off"
							onchange="checkAdminForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="변경/저장"
						style="width:200px;"
						onclick="changeAdminConfig(this);")
