doctype html
html
	head
		title AUTH OK

		script.
			function doOK() {
				if( '#{isSameUser}' ) {
					window.opener.providerCallbackSame();
				}
				else {
					window.opener.providerCallbackOK( '#{loginType}', '#{loginName}', '#{loginID}', '#{loginUID}' );
				}
				window.close();
			}

	body(onload="doOK();")
