doctype html
html
	head
		meta(name="viewport" content="	user-scalable=no, initial-scale=1.0,\
										maximum-scale=1.0, minimum-scale=1.0,\
										width=device-width, height=device-height")

		title L2 Coffee

		link(rel="stylesheet" type="text/css" href="/evil-icons/evil-icons.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/common.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/viewbeverage.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/viewuser.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/vieworder.css")
		//link(rel="stylesheet" type="text/css" href="/stylesheets/viewall.css")

		script(src="/evil-icons/evil-icons.js")
		script(src="/javascripts/common.js")
		script(src="/javascripts/viewbeverage.js")
		script(src="/javascripts/viewuser.js")
		script(src="/javascripts/vieworder.js")
		script(src="/javascripts/viewall.js")
		script.
			function initAll() {
				initOrderElem();
				//initBeverageElem();
				initUserElem();
				initAllElem();

				l2data.getBeverageList( l2all.cbBeverageList );
				l2data.getUserList( l2all.cbUserList );
			}

	body(onLoad="initAll();")
		div.cApp
			div.cUpper
				div.cMenu(onclick="changePage('Order')") !{icons.cart}
				div.cMenu(onclick="changePage('User')") !{icons.user}
				div.cMenu(onclick="changePage('Beverage')") !{icons.gear}
				div.cMenu(onclick="alert('Refresh !!!')") !{icons.refresh}

			include order_part
			include user_part
			include beverage_part
