div.cOuter#outerOrder
	form#order_form(onsubmit="return false;" style="height:100%;")
		div.cInput
			table.cInputT
				colgroup
					col(width="50")
					col
				tr.cShuttle
					td
						input.cShuttle(type="button" value="셔틀"
							style="width:100%;"
							onclick="onNewShuttle();")
					td#shuttle1
					td#shuttle2
					td#shuttle3
				tr
					td 누구
					td(colspan="3")
						select#orderBy(name="orderBy")
				tr
					td 무엇
					td(colspan="3")
						input.cBeverage#beverage(type="text" name="beverage"
							list="beverageList" autocomplete="off"
							onchange="onChangeBeverage(this);"
							onkeydown="if(event.keyCode==13){return false;}" )
						datalist#beverageList
							select#beverageSelect(onchange="onChangeBeverage(this);"
								style="width:180px;margin-left:-186px;height:22px;")
						input(type="button" value="리셋" onclick="onResetBeverage(this);")

		div.cMain
			div.cDimmer
			div.cPopupOuter
				div.cPopup
					p.ctxt 음료를 선택해주세요
				input.cClose(type="button" value="닫기" onclick="showPopup(false)")

			div.cOrderList#orderList
				div.cTotal
					span.cTotal
					span.cSwap(onclick="onSwapOrderList(this);") 유저별
				table.cOrderB
				table.cOrderO

			div.cIce
				input#ice(type="radio" name="icehot" value="ice")
				label(for="ice") 아이스
			div.cHot
				input#hot(type="radio" name="icehot" value="hot")
				label(for="hot") 따뜻
			div.cSyrup
				input#syrup(type="checkbox" name="syrup" value="minus")
				label(for="syrup") 시럽빼고
			div.cSelf
				input#self(type="radio" name="self" disabled)
				label(for="self" style="color:red;") 직접수령

		input.cNyam(type="button" value="냠냠" onclick="onAddOrder(this);")
