doctype html
html
	head
		meta(name="viewport" content="	user-scalable=no, initial-scale=1.0,\
										maximum-scale=1.0, minimum-scale=1.0,\
										width=device-width, height=device-height")

		title Order

		link(rel="stylesheet" type="text/css" href="/stylesheets/common.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/vieworder.css")

		script(src="/javascripts/common.js")
		script(src="/javascripts/vieworder.js")

	body(onLoad="initOrder();")

		div(class="cOuter")
			form(action="/order" method="post" onsubmit="return order(this);")
				div(class="cInput")
					p(style="margin-left:10px;") 누구
						select(id="orderBy" name="orderBy")
							option ithing
							option eething
							option bluegoori
							option y2jinc

					p(style="margin-left:10px;") 무엇
						input(type="text" class="cBeverage" id="beverage" name="beverage"
						 	list="beverageList" autocomplete="off"
							onchange="onChangeBeverage(value);"
							onkeydown="if(event.keyCode==13){return false;}" )
						datalist(id="beverageList")
							select(id="beverageSelect" onchange="onChangeBeverage(value);"
								style="width:180px;margin-left:-186px;height:22px;")

						input(type="button" value="리셋" onclick="selectBeverage('');")

				div(class="cMain")
					div(class="cDimmer")
					div(class="cPopup")
						p(class="ctxt") 음료를 선택해주세요

					div(class="cOrderList" id="orderList")

					div(class="cIce")
						input(type="radio" id="ice" name="icehot" value="ice")
						label(for="ice") 아이스
					div(class="cHot")
						input(type="radio" id="hot" name="icehot" value="hot")
						label(for="hot") 따뜻
					div(class="cSyrup")
						input(type="checkbox" id="syrup" name="syrup" value="minus")
						label(for="syrup") 시럽빼고

				div(class="cNyam")
					input(type="submit" class="cNyam" value="냠냠")
