div.cOuter#outerUser

	div.cUserMenu
		span#menuLogin(onclick="changeUserMenu('Login')") 로그인
		span#menuRegister(onclick="changeUserMenu('NewUser')") 회원가입
		span#menuMyInfo(onclick="changeUserMenu('MyInfo')") 정보수정
		span#menuAdmin(onclick="changeUserMenu('Admin')") 관리자
		span#menuLogout(onclick="onLogout();") 로그아웃

	form(onsubmit="return false;" style="height:calc(100% - 30px);")
		div.cLogin
			table
				colgroup
					col(width="90")
					col
				tr
					td ID
					td
						input#id(type="text" autocomplete="off")
				tr
					td 비밀번호
					td
						input#password(type="password")
				tr
					td(colspan="2" align="center")
						input(type="button" value="로그인"
							style="width:200px;"
							onclick="onLogin(this);")
				tr
					td(colspan="2" align="center")
						div.cLoginButton.cFacebook(onclick="onLoginProvider('Facebook')") 빼북
				tr
					td(colspan="2" align="center")
						div.cGoogleImage(onclick="onLoginProvider('Google')") 
				tr
					td(colspan="2" align="center")
						div.cKakaoImage(onclick="onLoginProvider('Kakao')") 
				tr
					td(colspan="2" align="center")
						div.cLoginButton.cTwitter(onclick="onLoginProvider('Twitter')") 트잉여

		div.cNewUser
			table
				colgroup
					col(width="90")
					col
				tr
					td 이름
					td
						input.userWhite#name_add(type="text" autocomplete="off"
							onchange="this.value=this.value.trim();")
				tr
					td ID
					td
						input.userYellow#id_add(type="text" autocomplete="off"
						 	style="width:110px"
							onchange="onCheckIDChanged(this);")
						input#duplicatedID(type="button" value="중복"
						 	onclick="onCheckDuplicatedID(this);")
				tr
					td 비밀번호
					td
						input.userRed#password1_add(type="password"
							onchange="onCheckAddForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_add(type="password"
						 	onchange="onCheckAddForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="회원가입"
						style="width:200px;"
						onclick="onAddUser(this);")
				tr
					td(colspan="2" align="center")
						div.cLoginButton.cFacebook(onclick="onLoginProvider('Facebook')") 빼북
				tr
					td(colspan="2" align="center")
						div.cGoogleImage(onclick="onLoginProvider('Google')") 
				tr
					td(colspan="2" align="center")
						div.cKakaoImage(onclick="onLoginProvider('Kakao')") 
				tr
					td(colspan="2" align="center")
						div.cLoginButton.cTwitter(onclick="onLoginProvider('Twitter')") 트잉여

		div.cMyInfo
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") My Info
				tr
					td(style="width:90px;") UserID
					td#id_edit(style="width:150px;") #{loginID}
				tr
					td 이름
					td
						input.userWhite#name_edit(type="text" value=loginName
							autocomplete="off"
						 	onchange="onCheckEditForm(this)" )
				tr
					td 비밀번호
					td
						input.userWhite#password1_edit(type="password"
						 	onchange="onCheckEditForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_edit(type="password"
						 	onchange="onCheckEditForm(this);")
				tr
					td(rowspan="5") 테마
					td
						input#theme_random(type="radio" name="theme" value="random")
						label.cThemeRandom(for="theme_random" title="random") Random
				tr
					td.cTheme
						input#theme_blue(type="radio" name="theme" value="blue")
						label.cThemeBlue(for="theme_blue" title="blue")
							div Blue
								input(type="button" value="버튼")
				tr
					td.cTheme
						input#theme_hellokitty(type="radio" name="theme" value="hellokitty")
						label.cThemeHelloKitty(for="theme_hellokitty" title="hellokitty")
							div HelloKitty
								input(type="button" value="버튼")
				tr
					td.cTheme
						input#theme_ncsoft(type="radio" name="theme" value="ncsoft")
						label.cThemeNcsoft(for="theme_ncsoft" title="ncsoft")
							div NCSOFT
								input(type="button" value="버튼")
				tr
					td.cTheme
						input#theme_dark(type="radio" name="theme" value="dark")
						label.cThemeDark(for="theme_dark" title="dark")
							div Dark
								input(type="button" value="버튼")
				tr
					td(colspan="2" align="center")
						input(type="button" value="수정"
							style="width:200px;height:40px;"
						 	onclick="onEditUser(this);")
				//tr
					td(colspan="2" align="center")
						input(type="button" value="탈퇴" onclick="delUser(this);" style="width:200px;")
				tr
					td(colspan="2" align="center") 계정연동
				tr
					td(colspan="2" align="center")
						div.cLoginButton.cFacebook(onclick="onLoginProvider('Facebook')") 빼북
				tr
					td(colspan="2" align="center")
						div.cGoogleImage(onclick="onLoginProvider('Google')") 
				tr
					td(colspan="2" align="center")
						div.cKakaoImage(onclick="onLoginProvider('Kakao')") 
				tr
					td(colspan="2" align="center")
						div.cLoginButton.cTwitter(onclick="onLoginProvider('Twitter')") 트잉여

		div.cAdmin
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") ADMIN
				tr
					td UserID
					td
						select#idSelect(onchange="onSelectUser(this);")
							option yaho
				tr
					td uid
					td#uid_admin
				tr
					td ID
					td#id_admin
				tr
					td 이름
					td
						input.userWhite#name_admin(type="text"
						 	onchange="onCheckAdminForm(this);")
				tr
					td 비밀번호
					td
						input.userWhite#password1_admin(type="password"
						 	onchange="onCheckAdminForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_admin(type="password"
							onchange="onCheckAdminForm(this);")
				tr
					td deleted
					td
						input#del_admin(type="checkbox"
							onchange="onCheckAdminForm(this);")
						//label#del_label(for="del_admin")
				tr
					td enabled
					td
						input#enable_admin(type="checkbox"
							onchange="onCheckAdminForm(this);")
						//label#enable_label(for="enable_admin")
				tr
					td shuttle
					td
						input#shuttle_admin(type="checkbox"
							onchange="onCheckAdminForm(this);")
						//label#shuttle_label(for="shuttle_admin")
				tr
					td(colspan="2" align="center")
						input#button_admin(type="button" value="수정"
							style="width:200px;"
						 	onclick="onAdminUser(this);")
				tr
					td FACEBOOK
					td
						input.providerView#Facebook_view(type="button" value="상세보기"
							onclick="onViewProvider(this,'Facebook');")
						input.providerDel#Facebook_del(type="button" value="끊기")
				tr
					td GOOGLE
					td
						input.providerView#Google_view(type="button" value="상세보기"
							onclick="onViewProvider(this,'Google');")
						input.providerDel#Google_del(type="button" value="끊기")
				tr
					td KAKAO
					td
						input.providerView#Kakao_view(type="button" value="상세보기"
							onclick="onViewProvider(this,'Kakao');")
						input.providerDel#Kakao_del(type="button" value="끊기")
				tr
					td TWITTER
					td
						input.providerView#Twitter_view(type="button" value="상세보기"
							onclick="onViewProvider(this,'Twitter');")
						input.providerDel#Twitter_del(type="button" value="끊기")

				tr
					td(colspan="2" align="center")
						form(action="/user/del")
							input#button_del(type="button" value="삭제"
								style="width:200px;"
								onclick="onDelUser(this);")
