div.cOuter#outerUser

	div.cUserMenu
		span#menuLogin(onclick="changeUserPage('Login')") 로그인
		span#menuRegister(onclick="changeUserPage('NewUser')") 회원가입
		span#menuMyInfo(onclick="changeUserPage('MyInfo')") 정보수정
		span#menuAdmin(onclick="changeUserPage('Admin')") 관리자
		span#menuLogout(onclick="logout();") 로그아웃

	form(onsubmit="return false;")
		div.cLogin
			table
				colgroup
					col(width="90")
					col
				tr
					td ID
					td
						input(type="text" name="id" autocomplete="off")
				tr
					td 비밀번호
					td
						input(type="password" name="password")
				tr
					td(colspan="2" align="center")
						input(type="button" value="로그인"
							style="width:200px;"
							onclick="login(this);")

	form(onsubmit="return false;")
		//input(type="hidden" name="uid")

		div.cNewUser
			table
				colgroup
					col(width="90")
					col
				tr
					td FACEBOOK
					td
						input(type="button" value="페북로긴"
							style="width:200px;"
							onclick="")
				tr
					td GOOGLE
					td
						input(type="button" value="구글로긴"
							style="width:200px;"
							onclick="")
				tr
					td KAKAO
					td
						input(type="button" value="카카오로긴"
							style="width:200px;"
							onclick="")
				tr
					td TWITTER
					td
						input(type="button" value="트윗로긴"
							style="width:200px;"
							onclick="")
				tr
					td 이름
					td
						input.userWhite#name_add(type="text" autocomplete="off"
							onchange="this.value=this.value.trim();")
				tr
					td ID
					td
						input.userYellow#id_add(type="text" name="id"
						 	autocomplete="off" style="width:110px"
							onchange="checkIDChanged(this);")
						input#duplicatedID(type="button" value="중복"
						 	onclick="checkDuplicatedID(this);")
				tr
					td 비밀번호
					td
						input.userRed#password1_add(type="password"
							onchange="checkAddForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_add(type="password"
						 	onchange="checkAddForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="회원가입"
						style="width:200px;"
						onclick="addUser(this);")

		div.cMyInfo
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") My Info
				tr
					td(style="width:90px;") UserID
					td#id_edit(style="width:150px;") #{loginID}
				tr
					td 이름
					td
						input.userWhite#name_edit(type="text" value=loginName
							autocomplete="off"
						 	onchange="checkEditForm(this)" )
				tr
					td 비밀번호
					td
						input.userWhite#password1_edit(type="password"
						 	onchange="checkEditForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_edit(type="password"
						 	onchange="checkEditForm(this);")
				tr
					td(colspan="2" align="center")
						input(type="button" value="수정"
							style="width:200px;"
						 	onclick="editUser(this);")
				tr
					td FACEBOOK
					td
						input(type="button" value="페북연동"
							style="width:150px;"
							onclick="loginFacebook(this);")
				tr
					td GOOGLE
					td
						input(type="button" value="구글연동"
							style="width:150px;"
							onclick="")
				tr
					td KAKAO
					td
						input(type="button" value="카카오연동"
							style="width:150px;"
							onclick="")
				tr
					td TWITTER
					td
						input(type="button" value="트윗연동"
							style="width:150px;"
							onclick="")
				//tr
					td(colspan="2" align="center")
						input(type="button" value="탈퇴" onclick="delUser(this);" style="width:200px;")

		div.cAdmin
			table
				colgroup
					col(width="90")
					col
				tr
					th(colspan="2" align="center") ADMIN
				tr
					td UserID
					td
						select#idSelect(onchange="onSelectUser(this);")
							option yaho
				tr
					td uid
					td#uid_admin
				tr
					td ID
					td#id_admin
				tr
					td 이름
					td
						input.userWhite#name_admin(type="text"
						 	onchange="checkAdminForm(this);")
				tr
					td 비밀번호
					td
						input.userWhite#password1_admin(type="password"
						 	onchange="checkAdminForm(this);")
				tr
					td 비번확인
					td
						input.userWhite#password2_admin(type="password"
						 	onchange="checkAdminForm(this);")
				tr
					td deleted
					td
						input#del_admin(type="checkbox")
				tr
					td enabled
					td
						input#enable_admin(type="checkbox")
				tr
					td(colspan="2" align="center")
						input#button_admin(type="button" value="수정"
							style="width:200px;"
						 	onclick="adminUser(this);")
				tr
					td FACEBOOK
					td 연동끊기
				tr
					td TWITTER
					td 연동끊기
				tr
					td GOOGLE
					td 연동끊기
				tr
					td(colspan="2" align="center")
						form(action="/user/del")
							input#button_del(type="button" value="삭제"
								style="width:200px;"
								onclick="delUser(this);")
